@import "sweetalert2/dist/sweetalert2.min.css";

.dashboard-container {
  margin-top: 100px;
  max-width: 100%;

  background-color: white;
  border-radius: 8px;
}

.slide1 img {
  width: 60%;
  height: 600px;
  object-fit: cover;
  right: 0;
}

.slide1 {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
}

.slide1 h1 {
  color: #0c2f5b;
  text-align: center;
  margin: 0;
  font-size: 29px;
}

.slide1 p {
  color: #0c2f5b;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.slide1 div {
  width: 40%;
  align-content: center;
}
.footer {
  background-color: #1670b3;
  color: #f1f1f1;
  padding: 40px 20px 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #fff;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: white;
}
