@import "sweetalert2/dist/sweetalert2.min.css";

.loading {
  margin-top: 300px;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.exam-list {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  margin-top: 150px;
  background: #fff;
  border-radius: 8px;
}

.exam-details {
  display: flex;
  width: 890px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;

  margin-bottom: 25px;
  justify-content: space-between;
}

.num {
  background-color: #1670b3;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 7.5px;
}

.list-title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 20px;
}

.copy-btn {
  margin-left: 8px;
  border: 1px solid black;

  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  background-color: white;
  color: #0b3050;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.delete-btn {
  margin-left: 8px;
  border: none;

  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  background-color: #1670b3;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.delete-btn:hover {
  background-color: white;
  color: #0b3050;
  border: 1px solid black;
}

.copy-btn:hover {
  background-color: #1670b3;
  color: white;
  border: none;
}

.list-time {
  height: 100%;
  align-content: center;
}

.list-code {
  height: 100%;
  align-content: center;
  margin-right: 10px;
}

.exam-details div {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 20px;
}
