@import "sweetalert2/dist/sweetalert2.min.css";

body {
  background: #f4f7fb;
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
