/* .parent {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 0;
} */
.navbar {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.logo {
  height: 100px;
  width: 300px;
  object-fit: cover;
  padding-right: 50px;
}

.element {
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0c2f5b;
}
.element p {
  width: 110px;
}

.list-exam {
  width: 270px;
  font-size: 16px;
}

.logoutbtn {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 0px;
  position: fixed;
  right: 20px;

  align-items: center;
  width: 500px;
}

.greeting {
  display: flex;
}
.logoutbtn p {
  font-size: 16px;
  margin-right: 30px;
  text-align: end;
  width: 400px;
}

.logoutbtn span {
  font-weight: bold;
}

.logoutbtn button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #1670b3;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.logoutbtn button:hover {
  color: #1670b3;
  border: 1px black solid;
  background-color: white;
  transition: all ease 0.5s;
}

.login {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 680px;
  position: fixed;
  right: 20px;
}

.login-child {
  display: flex;
  justify-content: center;
}

.login .element:hover {
  color: #1670b3;
  transition: color 0.58s ease, opacity 0.58s ease;
}

.left {
  position: fixed;
  left: 20px;
}

.left-child {
  display: flex;
  align-items: center;
}
